p{


	text-align:center;
  display: block;

  width: 40%;
margin-left: 7%;
float: left;
  font-weight: bold;
	text-align:center;
text-shadow: 1px 1px 2px #d2a679;
   color: #cc6600;
  font-family: courier;
  font-size: 140%;
}

.story{
  margin-right: 7%;
display: inline-block;
float: right;
margin-bottom: 50px;
}

.uni{
  margin-left: 7%;


}
h4{
  text-align:center;
  display: block;
  text-shadow: .5px .5px 1px #00bfff;
float: right;
  width: 40%;
margin-right: 10%;

  font-weight: bold;
	text-align:center;

   color:  #00bfff;
  font-family: courier;
  font-size: 140%;
}
h1{
  text-align:center;
  display: block;

  width: 100%;

  font-weight: bold;

  text-shadow: 1px 1px 2px #d2a679;
   color: #cc6600;
  font-family: courier;

}
h3{
  text-align:center;
  display: block;

  width: 100%;

  font-weight: bold;

  text-shadow: .2px .2px 1px #00bfff;
   color: #00bfff;
  font-family: courier;

}
