.map {
  height: px;
  width: 50%;
  margin-right: 5%;
  padding: 30px;

}

.contact{
  float: left;
  width: 40%;
margin-left: 10%;
font-size: 150%;
text-shadow: 1px 1px 2px #00bfff;
 color: #00bfff;
font-family: courier;
}
